---
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/landing/FAQ.astro";
import { buildFAQPageSchema } from "../data/schema";
import { faqItems } from "../data/faq";

const faqSchema = buildFAQPageSchema(
  faqItems.map((item) => ({ name: item.question, text: item.answer })),
);
---

<Layout
  title="Preguntas frecuentes | Directorio Morado"
  description="Preguntas frecuentes sobre el Directorio Morado: apoyo para sobrevivientes de violencia sexual en México."
  structuredData={[faqSchema]}
>
  <div class="min-h-[calc(100vh-432px)] bg-[#f6f6fb]">
    <FAQ />
  </div>
</Layout>
